  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="black">Analizador del lenguaje PL0</font>
      </h1>
      <hr>
    </div>
    <div class="contenido">
      <table class="center" id="input">
         <tr>
          <th>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
            </div>
          </th>
        </tr>
        <tr><th>Escriba aquí el texto a parsear o arrastre fichero</th></tr>
        <tr>
          <th>
            <div autofocus id="original" class="drop_zone"></div>
          </th>
          <th>
            <button type="button" id="parse"> Parsear!</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
              Cargar archivo: 
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>

      <textarea class="output" id="finaltable">
      </textarea>
    </div>
  </div>
  <footer>
    <div id=menu>
        <h1>Autor</h1>
        <nav>
            <ul>
              <a href="http://alu0100502923.github.io/" target="_blank"><i class="fa fa-user"></i> Juan Antonio Oliva Pérez</a>
            </ul>
        </nav>
    </div>
</footer>
